.bgMobile {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;

  .slideBlock {
    background-color: #1a1a1a;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    .close {
      padding: 8px;
      display: flex;
      align-items: center;
      justify-content: center;

      position: absolute;
      right: 1rem;
      top: 1rem;
    }

    .mainContent {
      margin-top: 80px;
      display: block;
    }
  }
}
