.geoWrapper {
  position: relative;
  z-index: 1;
  width: 200px;

  .popup {
    width: 100%;
    position: absolute;

    display: flex;
    flex-direction: column;
    height: 0px;
    overflow: hidden;
    background-color: #242424;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 6px 0px rgba(255, 255, 255, 0.5);
    transition: height 0.5s ease-in-out;
    ul {
      overflow-y: scroll;
      padding: 0;
      margin: 0;
      li {
        padding: 0.3rem;
        border-radius: 0.3rem;
        cursor: pointer;
        list-style: none;

        &:hover {
          background-color: rgb(84, 81, 81);
        }

        &.active {
          background-color: rgba(222, 26, 26, 0.6);
          &:hover {
            background-color: rgba(222, 26, 26, 0.8);
          }
        }
      }
    }
  }
  .clearSearch {
    position: absolute;
    right: 2px;
    top: 2px;
    padding: 4px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(44, 42, 42);
  }
  label {
    cursor: pointer;
    display: block;
    min-width: 100%;
    span {
      margin-left: 8px;
      font-size: 16px;
      font-weight: 400;
      color: rgba(100, 100, 231, 0.685);
      text-decoration: underline;
    }
  }
  input {
    display: inline-block;
    &[type="text"] {
      position: relative;
      display: none;
    }
  }

  input[type="checkbox"] {
    display: none;
    &:checked {
      & ~ .popup {
        &.open {
          width: 100%;
          height: 50vh;

          & input[type="text"] {
            display: block;
            flex: 1;
          }
          ul {
            flex: 11;
          }
        }
      }
    }
  }
}
